@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap") 


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white; /* Light background for readability */
    color: #333; /* Text color */
  }
  
  .section {
    max-width: 100%; /* Restricts content width */
    margin: 0 auto; /* Centers the container */
    padding: 20px; /* Adds inner spacing */
  }

.navbar {
        max-width: 100%; /* Restricts content width */
        margin: 0 auto; /* Centers the container */
        padding: 20px 50px 10px 50px; /* Adds inner spacing */
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    .logo {
        padding-top: 10px;
        cursor: pointer;
    }

    .nav-link {
        font-size: 16px;
        font-weight: 500px;
        list-style: none;

    & li {
        display: inline-block;
        padding: 8px 20px;
    }

    & a {
        color: #000000;
        text-decoration: none;
        transition: all 0.3s ease 0s;
        }

        a:hover{
            color: #00EBC7;
            font-weight: 500;
        }
    }
}

.nab-buttom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

.login-btn{
    padding: 5px 25px;
    background-color: #F1F1F1;
    border-radius: 30px;
    border: none;
    cursor: pointer;

    &:hover{
        background-color: #00EBC7;
        color: white;
    }
}

.signup-btn{
    padding: 5px 25px;
    color: white;
    background-color: black;
    border-radius: 30px;
    border: none;
    cursor: pointer;

    &:hover{
        background-color: #00EBC7;
        color: black;
    }
    }
}

.nav-icon{
    justify-content: center;
    align-items: center;
    width: 10%;
    cursor: pointer;
}


/*This is Form Section*/

.offer-body{
    position: absolute;
    margin-bottom: 100px;
    width: 100dvw;
}

.offer-box{
    font-size: 20px;
    align-items: center;
    position: absolute;
    height: 200px;
    top: 30%;
    width: 40%;
    padding: 20px 0px 20px 50px;
    border: 1px solid #00EBC7;
    right: 40%;
    border-radius: 15px;
    background-color: white;

& h1{
    text-align: center;
    font-weight: 500;
}
}

/*This is Form Section*/

.dropdown-option{
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 10px 10px 10px;

    & Select{
        
        margin-right: 20px;
        padding: 10px 40px;
        padding-right: 30px;
        border-radius: 10px;
        border: none;
        background-color: #ECECEC;
    }

    .find-offer{
        margin: 0% auto;
        display: flex;
        align-items: center;
        padding-right: 10px;
        padding-top: 15px;
        gap: 20px;
    
        & input{
            justify-content: center;
            padding: 10px 185px;
            border-radius: 10px;
            border: none;
            background-color: #ECECEC;
            text-align: center;
                }
        
        & button{
            background-color: #00EBC7;
            border: none;
            border-radius: 20px;
            padding: 10px 44px;
            font-weight: 600;
            cursor: pointer;
        }
    }
}



.zappr-btn{
    font-size: 16px;
    margin-top: 200px;
    margin-right: 0px;
    margin-left: 300px;
    margin-bottom: 80px;
    padding: 10px 40px;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    

    & a{
        color: white;
        }
}

/*This is Client Logo Section*/
.client-logo{
    margin-inline-start: -50%;
    width: 100%;
    height: 100%;
    padding: 20px 370px 10px 375px; 
    align-items: center;
    background-color: yellow;
}

.customer-logo{
        font-weight: 600;
        text-align: center;
    

    & img{
        object-fit: cover;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}
    /*This is About Section*/

    .about-section{
        width: 100%; /* Restricts content width */
        margin: 0 auto; /* Centers the container */
        padding: 20px; /* Adds inner spacing */
        padding: 30px;
        margin-bottom: 100px;

        & h1{
            margin-left: -380px;
            font-size: 25px;
            font-weight: 600;
            text-align: left;
        }
    
        .about-box{
            margin-left: -280px;
            align-items: center;
            display: flex;
            text-align: center;
            padding-top: 40px 40px;
            column-gap: 100px;
        }
        & div{
            padding-top: 20px;
            height: 280px;
            width: 280px;
            
            
        }
        & h2{
            width: 280px;
            font-size: 25px;
            font-weight: 600;

        }

        & p{
            font-size: 16px;
            line-height: 25px;
            text-align: center;
            color: #646464;
        }

        & a{
            cursor: pointer;
            font-weight: 600;
            font-size: 16px;
            color: black;
            
        }
        & img{
            max-width: 100%;
            width: 70px;
            height: 70px;
        }

        & button{
            font-size: 20px;
            font-weight: 500;
            margin-top: 230px;
            margin-right: 0px;
            margin-left: 250px;
            margin-bottom: 40px;
            padding: 7px 25px;
            border-radius: 30px;
            background-color: transparent;
            border: 1px solid black;
            color: black;
            cursor: pointer;
            
            & a{
                color: black;
                text-decoration: none;
            }
            
            &:hover{
                background-color: black;
                color: white;
                & a{
                    color: white;
                }
            }
        }
    }

    .hr{
        margin-left: -415px;
        width: 100%;
        padding: 0px 550px 0px 195px;
        justify-items: center;
        align-items: center;
        height: 0.4px;
        background-color: black;
    }

    /*This is Buy/Sell Section*/
    .buyandsell{
    margin-inline-start: -50%;
    width: 100%;
    margin-top: -140px;
    height: 550px;
    padding: 20px 370px 10px 375px; 
    align-items: center;
    background-color: #F8F8F8;
        }

    .buy-sec{
        margin-left: -320px;
        box-sizing: border-box;
        padding: 40px 100px;
        margin-top: -40px;
        
        

        & h1{
            padding-left: 15px;
            font-weight: 600;
            text-align: left;
            
        }
        & div{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            height: 60px;
            width: 450px;
            padding: 10px 30px 10px 25px;
            background-color: white;
            border: 1px solid black;
            border-radius: 15px;
            align-items: center;
            justify-content: left;

            & p{
                font-size: 18px;
            }
        }
        & img{
            width: 50px;
            height: 50px;
        }
        & button{
                font-size: 18px;
                font-weight: 500;
                margin-top: 70px;
                margin-right: 0px;
                margin-left: 160px;
                margin-bottom: 40px;
                padding: 7px 25px;
                border-radius: 20px;
                background-color: black;
                border: 1px solid black;
                color: white;
                cursor: pointer;
                text-decoration: none;

                & a{
                    color: white;
                    text-decoration: none;
                }
                
                &:hover{
                    background-color: white;
                    color: black;
                    & a{
                        color: #000000;
                    }
                }
                }
    }

    /*This is Sell Section*/

    .sell-sec{
        margin-top: -595px;
        box-sizing: border-box;
        padding: 40px 480px;
        left: 10px;
        display: flex;
        flex-direction: column;
        

        & h1{
            padding-left: 15px;
            font-weight: 600;
            text-align: left;
            
        }
        & div{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            height: 60px;
            width: 450px;
            padding: 10px 0px 10px 25px;
            background-color: white;
            border: 1px solid black;
            border-radius: 15px;
            align-items: center;
            justify-content: left;
            

            & p{
                font-size: 18px;
            }
        }
        & img{
            width: 50px;
            height: 50px;
        }
        
        .sell-button{
            width: 190px;
            font-size: 18px;
            font-weight: 500;
            margin-top: 70px;
            margin-right: 0px;
            margin-left: 160px;
            margin-bottom: 40px;
            padding: 8px 25px;
            border-radius: 20px;
            background-color: black;
            border: 1px solid black;
            color: white;
            cursor: pointer;
            text-decoration: none;
            
            & a{
                color: white;
                text-decoration: none;
            }
            
            &:hover{
                background-color: white;
                color: black;
                & a{
                    color: #000000;
                }
            }
        }
    }

    /*This is Sign up Text Section*/

    .signup-text{
        width: 1200px;
        height: 300px;
        background-color: #CFBAFF;
        padding: 60px 30px 30px 30px;

        & h1{
            padding: 10px 45px;
            font-size: 50px;
            font-weight: 600;
            text-align: center;
            color: black;            
        }

        & button{
            
            font-size: 20px;
            margin-top: 20px;
            margin-right: 0px;
            margin-left: 550px;
            padding: 7px 25px;
            border-radius: 30px;
            background-color: black;
            border: 1px solid;
            color: white;
            cursor: pointer;
            
            &:hover{
                background-color: white;
                color: black;
            }
        }
    }